@page "/RedirectToGingerFox"
@model TraitorsMicroSite.Pages.RedirectToGingerFoxModel
@{
    Layout = null;
}
<head>
    <title>Redirecting to Ginger Fox</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://media.gingerfox.co.uk/TraitorsMicroSite/favicon-32x32.png">
</head>
<link href="~/css/redirecttogingerfox.css" rel="stylesheet" />
<script src="~/js/redirecttogingerfox.js"></script>
<div class="CenterContainer">
    <img class="loading" src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Layout/Spinner.gif" />
    <p>Redirecting to</p>
    <img src="https://media.gingerfox.co.uk/GingerFoxHub/Site/Layout/Logos/GF_TITLE_AND_ROUND_LOGO_BLUE.svg" />
</div>
    
